.main-header {
    margin: 0;
    font-size: 24px;
    border-bottom: 1px solid;
}

.section {
    padding: 8px 0;
}

.section .header {
    margin: 0;
    font-size: 16px;
}

.sites .row {
    display: flex;
}

.sites .site .url-pattern {
    width: 300px;
}

.sites .site .comment-selector {
    width: 300px;
}

.shortcuts .shortcut label {
    display: inline-block;
    width: 150px;
}

.shortcuts .shortcut input {
    width: 146px;
}

.actions {
    padding: 8px 0;
    border-top: 1px solid;
}