body {
    font: message-box;
    background-color: rgb(249, 249, 250);
}

button {
    font: caption;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 100px;
    margin: 0 4px;
    min-height: 30px;
    border: 1px solid #d7d7db;
    border-radius: 2px;
    background-color: rgb(249, 249, 250);
    cursor: pointer;
}

input {
    min-height: 30px;
    color: #0c0c0d;
    border: 1px solid #d7d7db;
    border-radius: 2px;
    background-color: #fff;
    cursor: text;
    margin: 4px;
    padding: 2px;
}

.main {
    margin: 16px;
}

.main-header {
    margin-bottom: 15px;
}

.section {
}

.section-header {
    margin-bottom: 10px;
}

.section-content {
    background-color: #fff;
    border: 1px solid #d7d7db;
    padding: 16px;
}

.section-content button {
    margin-top: 4px;
}

.sites .row {
    display: flex;
}

.sites .site .url-pattern {
    width: 300px;
}

.sites .site .comment-selector {
    width: 300px;
}

.sites .remove-site {
    margin: 4px;
    padding: 2px;
    min-width: auto;
    min-height: auto;
    width: 36px;
    height: 36px;
}

.shortcuts .shortcut label {
    display: inline-block;
    width: 150px;
}

.shortcuts .shortcut input {
    width: 146px;
}

.actions {
    margin-top: 16px;
    border-top: 1px solid #d7d7db;
    padding-top: 16px;
}

.actions button:first-of-type {
    margin-left: 0px;
}