/* Themify Customize Styling */
body {		
	background-color: #ffffff;
	background-color: rgba(255,255,255,1.00);	
	color: #000000;
	color: rgba(0,0,0,1.00); 
}
#sidebar h4 {		
	color: #de4545;
}
textarea, input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=number], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week] {		
	color: #787676;
	color: rgba(120,118,118,1.00); 
}
#header {			font-size:15px;
 
}
#site-logo {		
	font-family:Verdana, Geneva, sans-serif;	font-size:29px;
	line-height:35px;

	color: #5e5e5e;
	color: rgba(94,94,94,1.00); 
}
#site-logo a {	
	color: #5e5e5e;
	color: rgba(94,94,94,1.00); 
}
#site-description {			font-size:100%;
	line-height:25px;
		position:static;
 
}
#main-nav {			position:relative;

	top: 0px;
	left: 0px;	
	margin-bottom: -50px; 
}
.page-title {		
	color: #5e5e5e;
	color: rgba(94,94,94,1.00);	
	font-family:Verdana, Geneva, sans-serif;	font-size:39px;


 
}
#footer {		
	color: #a3a3a3;
	color: rgba(163,163,163,1.00);		font-size:16px;
 
}
